.weather-days {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    text-transform: capitalize;
    flex-wrap: wrap;
}

.day {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 10px;
    width: 18%;
    border-bottom: 3px solid #eb6a00;
}

.weather5days-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

p {
    font-size: 1.1em;
}

.x {
    top: 0;
    right: 0;
    position: absolute;
    padding: 10px;
    font-size: 2em;
}

@media screen and (max-width:1300px) {

    p {
        font-size: .9em;
    }

}

@media screen and (max-width:1000px) {
    .day {
        padding: 5px;
    }

    .weather-days {
        gap: 10px;
    }

}

@media screen and (max-width:750px) {
    p {
        font-size: .7em;
    }

    .day img{
        width: 40px;
    }
}

@media screen and (max-width:600px) {
    .day{
        width: 110px;
    }
}   