.weather-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.weather-info {
    display: flex;
    align-items: center;
    width: 100%;
    color: #fff;
    justify-content: center;
}

img {
    width: 70px;
    height: 70px;
}


h2 {
    font-weight: bold;
}

.description {
    text-transform: capitalize;
    font-size: 1.3em;
    font-weight: bold;
}

.details {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    width: 90%;
    font-size: 1.3em;
    font-weight: 300;
}

@media screen and (max-width:1300px) {

    .box{
        margin: 100px 0px;
    }
    
    .weather-container h2{
        font-size: 1.5em;
    }
    
    .box5Days{
        margin: 100px 0px;
    }

}
        
@media screen and (max-width:1000px) {
    .box , .box5Days{
        width: 80vw;
    }

    .details{
        width: 100%;
    }

    .details p{
        font-size: .8em;
    }
}

@media screen and (max-width:500px) {
    
    h1 {
        font-size: 1.5em;

    }

    

    input{
        font-size: .9em;
        padding: 5px;
        width: 70%;
    }

    .inputs{
        justify-content: left;
        width: 100%;
        margin-bottom: 10px;
    }

    button{
        font-size: .8em;
    }

    
}