.weather-container {
    gap: 20px;
    display: flex;
    background-color: #000;
    opacity: 0.8;
    color: #fff;
    justify-content: center;
    align-items: center;
    max-height: 200px;
    padding: 20px;
    width: 100%;
}

.weather-img {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.weather-info {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
}

img {
    width: 100px;
    height: auto;
}

h2 {
    font-size: 6em;
    font-weight: 400;
}

h3 {
    font-weight: 500;
    text-transform: capitalize;
}

.details {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
    width: 90%;
    font-size: 1em;
    font-weight: 300;
}

@media screen and (max-width:1600px) {


    h2 {
        font-size: 5em;
    }

    img {
        width: 80px;
    }

}

@media screen and (max-width:1300px) {

    .details {
        width: 100%;
    }

}

@media screen and (max-width:1000px) {

    .details {
        gap: 10px;
    }

    h2 {
        font-size: 4em;
    }

    img {
        width: 65px;
    }

    .box {
        width: 85%;
    }

}

@media screen and (max-width:750px) {
    h2 {
        font-size: 3em;
    }

    h3 {
        font-size: 1em;
    }

    img {
        width: 50px;
    }

    .weather-container{
        padding: 5px;
    }
}

@media screen and (max-width:550px) {

    h3{
        font-size: .8em;
    }

    h2{
        font-size: 2em;
    }

}